/* full screen size styling */

header {
    padding: 2rem 1vw;
    display: flex;
    align-items: center;
    background-image: (50deg, rgb(170, 54, 54),rgba(0, 0, 255, 0.39),rgb(70, 10, 70));
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
    background-size: cover;
    font-weight: 600;
    font-size: large;
    list-style-type: circle;
    margin: 20px;
    padding: 30px;
    border-style: dashed;
    border-radius: 30px;
}

head {
    color: #AFBED3;
}

head {
    color: #888BAA;
}

/*comment */

@media screen and (min-width: 601px) {}

nav {
    border-top: solid;
}

nav>ul {
    display: flex;
    list-style-type: none;
    justify-content: center;
    padding-left: 0;
}

nav>ul>li {
    text-align: center;
    padding: 5px;
}

nav>ul>li>a {
    text-decoration: none;
    color: black;
}

nav>ul>li>a:hover {
    background-color: #91AABA;
}

p {
    font-family: "Roboto Mono", monospace;
    font-weight: 300;
    font-size: larger;
    color: #91AABA;
    color: #8F839A;
}

body {
    background-color: #D2D0D6;
    
}

main {
    color: #888BAA;
    font-weight: 300;
}

.image-right figcaption {
    text-align: center;
    font-size: .8rem;

}

table.our-activities {
    width:100%;
    border-collapse: collapse;
}

table.our-activities th {
    background-color: #3179AF;
    color: white;
    padding: .5rem 2vw;
    text-align: left;
}

table.our-activities td {
    color: #54691F;
    padding: .4rem 2vw;
}

table.our-activities tr:nth-child(odd) {
    background-color: #f7f7f7;
}

table.our-activities tr:hover {
    background-color: rgba(84, 105, 31, .2);
}



